.signup {
	.card-container {
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;

		.cards-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			//background-color: lightblue;
		}

		.Card {
			height: 540px;
			width: 400px;
			margin: 0;
			padding: 30px;

			&:first-child {
				margin-right: 70px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.signup {
		.card-container {
			padding: 40px 0;
			height: unset;

			.Card {
				height: unset;
				width: 90%;

				&:first-child {
					margin-right: unset;
					margin-bottom: 50px;
				}
			}
		}
	}
}
